body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
}

h5, p {
    color: #363958;
}

.font-color-heading {
    color: #363958; 
}

.top-section-background {
    background-color: #FFFBF0;      
}

.orange-color-highlight {
    color: #FABE4C;
}

.buy-now-button {
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border: none;
    color: white;
}

.icon-border-radius {
    border-radius: 15px;
}

.clothes-background {
    height: 100%;
    border-radius: 15px;
    background-color: #F1F1F1;
    margin: 4%;
}

.clothes-background img {
    object-fit: contain;
    height: 80%;
    width: 70%;
    margin-top: 9%;
}

#bonus-section-2 {
    background-color: #f6f6f6 ;
    border-radius: 15px;
}